html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-image: url('../images/header-category-seastar2023_1_8.avif');
}

.header_regiser {
    height: 25px;
    background-color: red;
}

.links_header {
    display: flex;
    justify-content: center;
}

.header_img {
    display: flex;
    justify-content: center;
}

.logo_png {
    display: flex;
    justify-content: center;
}

.header_img img {
    height: 20px;
    margin-top: 20px;
}

.header_links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: large;
    font-weight: 200;
    cursor: pointer;
    color: white;
}

.footer_c{
    padding-top: 40px;
}

.img_footer{
    width: 1200px;
}

.main-banner {
    padding-top: 55px;
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.banner-image {
    position: relative;
    flex: 1;
}

.banner-image img {
    width: 85%;
    height: 85%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}

.banner-text h1 {
    font-size: 3rem;
    margin: 0;
}

.discover-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 20px;
    max-width: 400px;
}

.product {
    text-align: center;
}

.product img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.product p {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.2;
}